<h1>Edit Cohort</h1>


<%= form_with model: @cohort do |form| %>
 <%= form.label :course_id %>
 <%= form.collection_select :course_id, Course.all, :id, :coursename %><br>

Name: <%= form.text_field :name, placeholder: "Cohort name"%><br>
Start: <%= form.date_field :startdate, placeholder: "Start date"%><br>
End: <%= form.date_field :enddate, placeholder: "End date"%><br>
 <%= form.label :instructor_id %>
 <%= form.collection_select :instructor_id, Instructor.all, :id, :full_name %><br>



<%= form.submit%>
<% end%>

<br>
<%= link_to 'Back', {:action => 'index'} %>