<% if @cohorts.blank? %>
      <p>There are not any cohorts currently in the system.</p>
<% else %>
      <h2>All Cohorts</h2>
      <p><%= link_to "Add New Cohort", {:action => 'new' }%></p>


      <ul id = "cohorts">
      <% @cohorts.each do |c| %>
            <br>
            <li>Course Name: </strong> <%= link_to c.name, {:action => 'show', :id => c.id} -%> <br /></li>
            <li>Subject: <%= c.course.coursename%></li>
            <li>Start Date: <%= c.startdate.strftime("%B, %d, %Y")%></li>
            <li>End Date: <%= c.enddate.strftime("%B, %d, %Y")%></li>

            <b> <%= link_to 'Edit', {:action => 'edit', :id => c.id} %> </b> | 
            <b> <%= link_to 'Delete', {:action => 'edit', :id => c.id} %></b>
   
</li>
<br>

<% end %>
</ul> 

<% end %>