<h1><%= @cohort.name %></h1>

<p>
   <strong>Name: </strong> <%= @cohort.name %><br />
   <strong>Start date :</strong> <%= @cohort.startdate %><br />
   <strong>End Date:</strong> <%= @cohort.enddate %><br />
</p>

<p><img src="<%=@cohort.id%>"></p>

<hr />

<%= link_to 'Back', {:action => 'index'} %>