<h1><%= @cohort.name %></h1>

<p>
   <strong>Subject:</strong> <%= @cohort.course.coursename%><br />
   <strong>Start date :</strong> <%= @cohort.startdate.strftime("%B, %d, %Y")%><br />
   <strong>End Date:</strong> <%= @cohort.enddate.strftime("%B, %d, %Y")%><br />
</p>


<hr />

<b><%= link_to 'Back', {:action => 'index'} %><b> |
<b> <%= link_to 'Edit', {:action => 'edit', :id => @cohort.id} %> </b> | 
<b> <%= link_to 'Delete', {:action => 'edit', :id => @cohort.id} %></b>