<h3>Your Admin Profile</h3>

<p>Name: <%=@admin.last_name%>, <%= @admin.first_name%> </p>
<p>E-mail: <%= @admin.email%> <%@admin.email%> </p>

<hr />

<%= link_to 'Back', {:action => 'index'} %> | | <%= link_to 'Edit', edit_admin_registration_path %>