<h1>Edit Student form</h1>


<%= form_with model: @student do |form| %>
<%= form.text_field :firstname, placeholder: "First name"%>
<%= form.text_field :lastname, placeholder: "Last name"%>
<%= form.text_field :email, placeholder: "E-mail address"%>
<%= form.text_field :age, placeholder: "Age"%>
<%= form.file_field :avatar %>
 <%= form.label :cohort_id %>
 <%= form.collection_select :cohort_id, Cohort.all, :id, :name %>

<%= form.submit%>
<% end%>


<%= link_to 'Back', {:action => 'index'} %>
