<% if @students.blank? %>
      <p>There are not any students currently in the system.</p>
<% else %>
      <h2>All Students</h2>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Enrollment</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @students_desc.each do |c| %>
      <tr>
            <th scope="row"><%= c.id%></th>
            <td><%= link_to c.full_name, {:action => 'show', :id => c.id} -%></td>
            <td><%= c.cohort.name%></td>
            <td><%= c.email%></td>
      </tr>
      <% end %>
    </tr>
   
  </tbody>
</table>

      

      <% end %>

      <p><%= link_to "Add new Student", {:action => 'new' }%></p>



