<% if @students.blank? %>
      <p>There are not any students currently in the system.</p>
<% else %>
      <h2>All Students</h2>
      <%= link_to 'New Student', new_student_path, remote: true, id: "ajaxcall" %>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Enrollment</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @students.each do |student| %>
      <tr id="student-<%=student.id%>">
            <th scope="row"><%= student.id%></th>
            <td><%= link_to student.full_name, {:action => 'show', :id => student.id} -%></td>
            <td><%= student.cohort.name%></td>
            <td><%= student.email%></td>
            <td><%= link_to 'Edit', {:action => 'edit', :id => student.id} %> | <%= link_to 'Destroy', student_path(student), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %> </td>
            
            
      </tr>
      <% end %>
    </tr>
   
  </tbody>
</table>

      

      <% end %>

      <p><%= link_to "Add new Student", {:action => 'new' }%></p>



