<h1>Add new Student form</h1>


<%= form_with model: @student do |form| %>
<div class="field">First Name: <%= form.text_field :firstname, placeholder: "First name"%></div><br>
<div class="field">Last Name: <%= form.text_field :lastname, placeholder: "Last name"%></div><br>
<div class="field">E-mail: <%= form.text_field :email, placeholder: "E-mail address"%></div><br>
<div class="field">Age: <%= form.text_field :age, placeholder: "Age"%></div><br>

<div class="field">Age: <%= form.select :age, (18..100) %> </div><br><div>Avatar: <%= form.file_field :avatar %></div><br>
<div class="field">Cohort:  <%= form.label :cohort_id %>
 <%= form.collection_select :cohort_id, Cohort.all, :id, :name %></div><br>

<%= form.submit%>
<% end%><br>


<%= link_to 'Back', {:action => 'index'} %>