<h1><%= @student.full_name%></h1>
<p><img src="<%=@student.avatar%>"></p>
    <%= link_to 'Edit', {:action => 'edit', :id => @student.id} %> | 
   <%= link_to 'Destroy', student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %>| 
    <%= link_to 'Back', {:action => 'index'} %>
    <br />

<p>
   <br><strong>Name: </strong> <%= @student.lastname %>, <%= @student.firstname %><br />
   <strong>Cohort :</strong> <%= @student.cohort.name %><br />
   <strong>E-mail:</strong> <%= @student.email %><br />
   <strong>Age:</strong> <%= @student.age %><br />
</p>
