<% if @instructors.blank? %>
      <p>There are currently no instructors in the system.</p>
<% else %>
      <h2>Instructor List</h2>
      <p><%= link_to "Add new Instructor", {:action => 'new' }%></p>
  
<div class="content d-flex row">
      <% @instructors.each do |c| %>

            <div class="card">
                  <div class="card-body bg-info rounded-top">

                        <h5 class="card-title"><%= link_to c.full_name, {:action => 'show', :id => c.id} -%></h5>
                        <p class="card-text"><%= c.email%> </p>
                  </div>
                  <img class="card-img-top img" src="<%= c.avatar%>">
                  <div class="card-footer text-right">
                        <small class="text-muted">
                              <button class="btn btn-sm btn-info"><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></button>
                              <button class="btn btn-sm btn-info"><%= link_to 'Delete', {:action => 'edit', :id => c.id}, :confirm => "Are you sure you want to delete this item?" %></button>
                        </small>
                  </div>
            </div>
      <% end %>
</div>
<% end %>


