<h1>New Instructor form</h1>


<%= form_with model: @instructor do |form| %>
<div class="field">First Name:<%= form.text_field :firstname, placeholder: "First name"%></div><br>
<div class="field">Last Name: <%= form.text_field :lastname, placeholder: "Last name"%></div><br>
<div class="field">E-mail: <%= form.text_field :email, placeholder: "E-mail address"%></div><br>
<div class="field">Age: <%= form.select :age, (18..100) %></div><br>
<div class="field">Salary: <%= form.text_field :salary, placeholder: "Salary"%></div><br>
<div class="field"><%= form.file_field :avatar %></div><br>
<div class="field">Education: <%= form.select :education, ['Masters Degree', 'Bachelors Degree', 'Associate Degree', 'Other']%></div><br>
<%= form.submit%>
<% end%>
<br>

<%= link_to 'Back', {:action => 'index'} %>
