<h1>New Instructor form</h1>


<%= form_with model: @instructor do |form| %>
<%= form.text_field :firstname, placeholder: "First name"%>
<%= form.text_field :lastname, placeholder: "Last name"%>
<%= form.text_field :email, placeholder: "E-mail address"%>
<%= form.text_field :age, placeholder: "Age"%>
<%= form.text_field :salary, placeholder: "Salary"%>
<%= form.text_field :avatar, placeholder: "Avatar url"%>
<%= form.select :education, ['Masters Degree', 'Bachelors Degree', 'Associate Degree', 'Other']%>
<%= form.submit%>
<% end%>


<%= link_to 'Back', {:action => 'index'} %>
