<h1><%= @instructor.lastname%>, <%= @instructor.firstname %></h1><sub><%= link_to 'Edit', {:action => 'edit', :id => @instructor.id} %> | <%= link_to 'Destroy', instructor_path(@instructor.id), method: :delete, data: { confirm: 'Are you sure?' } %></sub>

<p>
   <strong>Name: </strong> <%= @instructor.lastname%>, <%= @instructor.firstname %><br />

   <strong>E-mail:</strong> <%= @instructor.email %><br />
    
    <strong> Age:</strong> <%=@instructor.age%>  ||  Salary: <%= @instructor.salary%><br />

    <strong>Level of Education:</strong> <%= @instructor.education %><br />

    <strong>Courses:</strong><%@showCohort.each do |cohort|%>
        <%= link_to cohort.name, {controller: "cohorts", :action => 'show', :id => cohort.id} -%>, 
    <% end %>
</p>

<p><img src="<%=@instructor.avatar%>"></p>

<hr />

<%= link_to 'Back', {:action => 'index'} %>