<div class="jumbotron">
  <% if admin_signed_in? %>
    <h1>Welcome!</h1>
    <p class="lead">
      <%= link_to "View Courses", courses_path, :class => "btn btn-info" %>
      <%= link_to "View Cohorts",cohorts_path, :class => "btn btn-info" %>
      <%= link_to "View Instructors", instructors_path, :class => "btn btn-info" %>
      <%= link_to "View Students", students_path, :class => "btn btn-info" %>
    </p>
          
  <% else %>
    <h1>Welcome!</h1>
    <p class="lead">
      You must sign in or sign up for access.
    </p>
    <div class="row-fluid">
      <div>
        <%= link_to "Sign In", new_admin_session_path, :class => "btn btn-info" %>
        <%= link_to "Sign Up", new_admin_registration_path, :class => "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>