<h1><%= @course.coursename %></h1>

<p>
   <strong>Name: </strong> <%= @course.coursename %><br />
   <strong>Total Hours :</strong> <%= @course.totalhours %><br />

    <strong>Open cohorts :</strong> <% @course.each do |c| %><br />


   <b> <%= link_to 'Edit', {:action => 'edit', :id => @course.id} %> </b> | 
    <b> <%= link_to 'Delete', {:action => 'edit', :id => @course.id} %></b>
</p>

<hr />

<%= link_to 'Back', {:action => 'index'} %>