<h1><%= @course.coursename %></h1>

<p>
   <strong>Name: </strong> <%= @course.coursename %><br />
   <strong>Total Hours :</strong> <%= @course.totalhours %><br />

    <strong>Available Cohorts :</strong> 
        <% @cohorts.each do |cohort| %>
            <%= link_to cohort.name, {controller: "cohorts", :action => 'show', :id => cohort.id} -%>, 
            
        <%end%>
        
        <br />


   <b> <%= link_to 'Edit', {:action => 'edit', :id => @course.id} %> </b> | 
    <b><%= link_to 'Destroy', course_path(@course), method: :delete, data: { confirm: 'Are you sure?' } %></b>
</p>

<hr />

<%= link_to 'Back', {:action => 'index'} %>