<!DOCTYPE html>
<html>
  <head>
    <title>Canvaspanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <p><a href="/">Home</a> | <a href="/courses">Subjects</a> | <a href="/cohorts">Classes</a> | <a href="/instructors">Instructors</a> | <a href="students">Students</a></p>
    </header>
    <%= yield %>
  </body>
</html>
